<% include ../partials/header %>

<div class="left">
  <pre data-key="Ab">
    <%- chords %>
  </pre>
  <script type="text/javascript">
    $(function() {
      $("pre").transpose({ key : 'Ab' });
    });
  </script>

</div>


<div class="right">
  <div class="song-info">


    <form class="addForm" method="post" action="/chords">
      <input type="hidden" name="song" value="<%= slicedTitle %>">
      <input type="hidden" name="chords" value="<%= chords %>">
      <input type="hidden" name="youtube" value="<%= slicedUrl %>">
      <h2>
        <%- slicedTitle %>
        <% if (getUser) { %>
        <% if (fave !== true) { %>
        <span id="spaces">&nbsp;&nbsp;</span><button type="submit" class="btn btn-primary btn-md favBtn">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
      <% } %>
      <% } %>


    </h2>
  </form>
</div>

<div class="youtube">

  <iframe src=<%= "https://www.youtube.com/embed/" + slicedUrl %> frameborder="0" allowfullscreen></iframe>


</div>

</div>
</div>